body, html {
    margin:0;
    padding:0;
    font-family:sans-serif;
    text-align:center;
}

.input {
    border:1px solid #1A728C;
    border-radius:2px;
    box-shadow:0 0 4px #ddd, inset 0 2px 8px #A9B5B8;
    color:darken( #1A728C, 10% );
    font-size:18px;
    padding:4px 8px;
    width:800px;
    height:60px;
    margin:20px 0;
}

.output {
    font-size:42px;
}

.footer {
    background:#1A728C;
    color:#FFF;
    font-size:18px;
    margin:50px 0 0;

    a { color: lighten( #78C8DA, 20% ) }

    .footerContent {
        padding:18px;
    }

}
